@using ProiectDAW.Models

@{
    ViewBag.Title = "Servicii";
}
<br />
<br />
<br />

<h1 style="color: #862d2d;">LISTA PRETURI</h1>

<style>
    body, html {
        height: 100%;
        margin: 0;
    }

    body {
        background-image: url('../../Images/sursa2.png');
        height: 100%;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
</style>

<br />
<br />
<br />
@{
    var sList = ViewData["services"] as List<Service>;
    <table class="table table-bordered table-responsive table-hover">
        <tr>
            <th>Denumire </th>
            <th>Pret</th>
        </tr>

        @foreach (var serv in sList)
        {
            <tr>
                <td>@serv.Name</td>
                <td>@serv.Pret</td>
            </tr>
        }
    </table>
}
