@{
    ViewBag.Title = "Beauty Clinique";
}

<a href="/appointments/create" class="btn btn-warning">Adauga programare</a>

<a href="/appointments/myappointments" class="btn btn-warning">Programarile mele</a>

<a href="/appointments/calendar" class="btn btn-warning">Vizualizati calendarul programarilor actuale</a>