@using ProiectDAW.Models
<head>
    <meta charset='utf-8' />
    <link href='https://cdn.jsdelivr.net/npm/fullcalendar-scheduler@5.5.0/main.css' rel='stylesheet' />
    <script src='https://cdn.jsdelivr.net/npm/fullcalendar-scheduler@5.5.0/main.js'></script>
    <script>

        document.addEventListener('DOMContentLoaded', function () {
            var calendarEl = document.getElementById('calendar');
            var calendar = new FullCalendar.Calendar(calendarEl, {
                initialView: 'timeGridDay'

            });
            calendar.render();
            $.getJSON('https://localhost:44366/Appointments/All', function (data) {
                var len = data.length;
                for (var i = 0; i < len; i++) {
                    var date = data[i].Data + "T" + data[i].Ora + ":00:00";
                    var titlu = "Programare: medic" + " " + data[i].Nume;
                    calendar.addEvent({
                        title: titlu,
                        start: date
                    });
                }
            });

        });

    </script>
</head>

<style>
    body, html {
        height: 100%;
        margin: 0;
    }

    .bg {
        background-image: url('../../Images/sursa8.jpg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    h1 {
        color: #800040;
        font-size: 60px;
        font-family: URW Chancery L, cursive;
        padding-bottom: 10px;
    }
</style>

<body class="bg">
    <br />
    <br />

    <h4 style="text-align:center"> Daca doriti o noua programare, alegeti unul din intervalele libere la medicul dorit! Multumim!</h4>

    <br />

    <div style="        align-content: center;
        margin-left: 30vw">
        <a href="/appointments/create" class="btn btn-warning">Rezerva acum!</a>
    </div>
    <br />

    <br />
    <br />

    <body>
        <div id='calendar'></div>
    </body>
</body>