@using ProiectDAW.Models


@{
    ViewBag.Title = "Index";
}

<style>
    .bg {
        background-image: url('../../Images/back5.jpg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    h4 {
        color: #800040;
        font-size: 60px;
        font-family: URW Chancery L, cursive;
        padding-bottom: 10px;
    }
</style>

<br />
<br />

<h4 style="font-size: 130%">Detalii servicii:</h4>

<br />
<a href="/GeneralService/create" class="btn btn-success">Adauga serviciu clinica</a>

<br />

<br />

<br />
<body class="bg">
    @{
        var sList = ViewData["generalServices"] as List<GeneralService>;
        <table class="table table-bordered table-responsive table-hover">
            <tr>
                <th>Nume</th>
                <th>Descriere</th>
                <th>Perioada de recuperare</th>
                <th>Actiune_1</th>
                <th>Actiune_2</th>
            </tr>
            @foreach (var serv in sList)
            {
                <tr>


                    <td>@serv.Name</td>

                    <td>@serv.Description</td>

                    <td>@serv.RecoveryPeriod</td>

                    <td> <a href="/GeneralService/update/@serv.GeneralServiceId" class="btn btn-warning">Editare</a></td>

                    <td> <a href="/GeneralService/delete/@serv.GeneralServiceId" class="btn btn-danger">Sterge</a></td>

                </tr>

            }
        </table>
    }
</body>