@using ProiectDAW.Models

@{
    ViewBag.Title = "List";
}
<br />
<br />
<br />

<h1 class="jumbotron text-center" style="color: #862d2d; font-size: 240%">LISTA PRETURI</h1>

<style>

    body {
        background-image: url('../../Images/Back.jpg');
    }
</style>

<br />
<br />
<br />
@{
    var sList = ViewData["generalServices2"] as List<Service>;
    var allGeneralServList = ViewData["allGeneralServ"] as List<GeneralService>;
    var allServList = ViewData["allServ"] as List<Service>;

    foreach (var genServ in allGeneralServList)
    {
        <p style="color: #862d2d; font-size: 170%; align-content: center"> @genServ.Name</p>
        <br />
        <br />
        <table class="table table-bordered table-responsive table-hover">
            @foreach (var serv in allServList)
            {

                if (serv.GeneralServiceId == genServ.GeneralServiceId)
                {
                    <tr>
                        <td>@serv.Name</td>
                        <td>@serv.Pret</td>
                    </tr>
                }

            }
        </table>
        <br />
        <br />
    }
}

<div>
    <br />
    <br />
    <br />
    <br />
    @if (ViewData["adminLogin"] == "admin")
    {
        <a href="/generalservice/create" class="btn btn-warning">Adauga un serviciu general nou</a>
        <a href="/services/create" class="btn btn-warning">Adauga un serviciu</a>
        <br />
        <a href="/generalservice/index" class="btn btn-warning">Detalii servicii generale-actualizare</a>
        <a href="/services/index" class="btn btn-warning">Detalii servicii-actualizare</a>
    }
</div>